@tailwind base;
@tailwind components;
@tailwind utilities;


*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media only screen and (max-width: 1024px) {

  html,
  body {
    cursor: default;
  }

  a {
    cursor: pointer;
  }
}

/* .landing-page {
  min-height: 100vh;
}
 */



body, * {
  cursor: auto !important;
}


.sizer {
  width: 97%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 25px 0 25px;
}

.custom-cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
  background: #D2A024;
}

section .pin-spacer {
  height: auto;
}

.stk {

position: absolute;
width: 167px;
height: 42px;
left: 141px;
top: 55px;

font-family: 'Sansation';
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 42px;
display: flex;
align-items: center;
border: 3px solid #D2A024;
}


.text-stroke {
  -webkit-text-stroke: 2px white;
    color: transparent !important;
    /* font-size: xxx-large; */
    transform: translateZ(0px);
    font-size: 60px;
    line-height: 1;
    font-family: fantasy;
}

@media only screen and (max-width: 470px) {
  .text-stroke {
    font-size: 20px;
  }
}

.animate-slide-x{
  animation: slide-x 1s ease-in-out infinite;
}

@keyframes slide-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-floater {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  padding: 10px;
  color: white;
  background-color: rgb(134 93 0 / 0.5);
  cursor: pointer;
}

.contact-form input {
  background-color: transparent;
  border: 1px solid #D2A024;
  color: #D2A024;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  border-radius: 10px 10px 10px 0;
}

.contact-form textarea {
  background-color: transparent;
  border: 1px solid #D2A024;
  color: #D2A024;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  border-radius: 10px 10px 10px 0;
}
